# iOS
app_identifier('<%= props.projectAppId %>')
apple_id ENV["RN_RELEASE_TYPE"] != 'production' ? "apple@grouplighthouse.com" : ENV['FASTLANE_APPLE_ID']
team_id ENV["RN_RELEASE_TYPE"] != 'production' ? "C5742Z5VFZ" : ENV["FASTLANE_APPLE_TEAM_ID"]

# Android settings
package_name('<%= props.projectAppId %>')
json_key_file("") # Follow https://docs.fastlane.tools/actions/supply/#setup
