import React, { Component } from 'react';
// import PropTypes from 'prop-types';
import { View } from 'react-native';
import styled from 'styled-components';

const StyledView = styled(View)(({ theme }) => ({
  backgroundColor: theme.backgroundColor,
}));

const <%= props.pascalName %> = ({ children }) => (
  <StyledView>{children}</StyledView>
);

export default <%= props.pascalName %>;
