import { handleActions } from 'redux-actions';
import * as <%= props.camelName %>Actions from './actions/<%= props.camelName %>Actions';

// State
const initialState = {};

// Reducers
const reducer = handleActions(
  {
    [<%= props.camelName %>Actions.<%= props.camelName %>Sample]: (state, action) => ({
      ...state,
      ...action.payload,
    }),
  },
  initialState,
);

export default reducer;
