import React from 'react';
import { Text } from 'react-native';
import { Screen } from '@components';

export class <%= props.pascalName %> extends React.PureComponent {
  render () {
    return (
      <Screen>
        <Text><%= props.camelName %> Screen</Text>
      </Screen>
    )
  }
}
